#adding_line_btn {
    position: absolute;
    top: 0;
    left: 0;
}

#adding_VH_line_btn {
    position: absolute;
    top: 0;
    left: 5rem;
}


#stop {
    position: absolute;
    top: 0;
    left: 12rem;
}

#clear {
    position: absolute;
    top: 0;
    left: 17rem;
}

#lenght {
    position: absolute;
    top: 0;
    left: 5rem;

}

#canvas {
    border: 1px solid black;
}

.draw_area {
    background-image: url(12.jpg);
}